.ghost {
   z-index: 99999999;
   box-sizing: border-box;
   position: absolute;
   top: 0px;
   left: 0;
   width: 100%;
   max-width: 100%;
   display: flex;
   justify-content: space-around;
   overflow: hidden;
   visibility: hidden;
}
.ghost.active {
   visibility: visible;
}
.ghost .ghost-img {
   opacity: 0.3;
   width: 100%;
   height: 100%;
}
